MONGO_DB_CONN=

JWT_SECRET=

PORT=

GOOGLE_APP_PASSWORD=

APP_VERIFY_URL=
APP_RESET_PASSWORD_URL=

# Google OAuth2 Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://arcelia-unthievish-duplicitously.ngrok-free.dev/api/users/google/callback

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

recovery_code=
